<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="ModemSyncServiceEndPoint" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/ModemToolbarSyncService"
                binding="netNamedPipeBinding" bindingConfiguration="ModemSyncServiceEndPoint"
                contract="IWCFModemService" name="ModemSyncServiceEndPoint">
                <identity>
                    <servicePrincipalName value="host/MWKS452393.corp.halliburton.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>