<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Off,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add initializeData="C:\Users\h111765\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="xml">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="xml">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="xml">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="xml">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\h111765\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="xml" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="mexBehavior" name="WcfServiceModemToolbarSync.WCFModemService">
        <endpoint address="net.tcp://localhost:9124" binding="netTcpBinding" bindingConfiguration="" name="netTCPServer" contract="WcfServiceModemToolbarSync.IWCFModemService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9123"/>
            <add baseAddress="net.tcp://localhost:9124"/>
          </baseAddresses>
          <timeouts closeTimeout="00:00:30" openTimeout="00:05:00"/>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LocalModemDb" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=WcfServiceModemToolbarSync.LocalModemDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="LocalDb" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=WcfServiceModemToolbarSync.Database.LocalDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="WcfServiceModemToolbarSync.Properties.Settings.RemoteDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\h111765\ModemToolDbServer.accdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
