<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    
<connectionStrings/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="netTCPServerBinding" closeTimeout="00:02:00" openTimeout="00:05:00"
                    sendTimeout="00:05:00" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9124/" binding="netTcpBinding"
                bindingConfiguration="netTCPServerBinding" contract="ModemService.IWCFModemService"
                name="netTCPServer">
                <identity>
                    <servicePrincipalName value="host/MWKS452393.corp.halliburton.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
