<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ModemToolbarIE.Properties.Settings.ToolDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;O:\Sperry Sun\09 RTO-Insite\RigAccessFolder\Common\Standard MWD Config Database\ModemBuilderDatabase.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ModemToolbarIE.Properties.Settings.ModemBuilderDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\ModemBuilderDatabase.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
