<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="ModemToolbarPatchNov19" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="" 
           UpgradeCode="f7e4c115-9756-4537-8871-e54e76cd8531">
    
		  <Package Description="Installs a file that will be patched." 
               Comments="This product does not install any executables"
               InstallerVersion="200" 
               Compressed="yes" 
               InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
		<Feature Id="ProductFeature" Title="ModemToolbarPatchNov19" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

  <Fragment>
    <Feature Id="SampleProductFeature" Title="Sample Product Feature" Level="1">
      <ComponentRef Id="SampleComponent" />
    </Feature>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="SampleProductFolder">
      <Component Id="SampleComponent" Guid="{C28843DA-EF08-41CC-BA75-D2B99D8A1983}" DiskId="1">
        <File Id="SampleFile" Name="Sample.txt" Source=".\$(var.Version)\Sample.txt" />
      </Component>
    </DirectoryRef>
  </Fragment>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ModemToolbarPatchNov19" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
