<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="net.pipe://localhost/ModemToolbarSyncService"
                binding="netNamedPipeBinding" bindingConfiguration="" contract="WcfServiceModemToolbarSync.IWCFModemService"
                name="WcfEndPoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>
